
::ng-deep  .mat-expansion-panel-header {
    padding: 0 16px !important;
}

::ng-deep  .mat-nav-list .mat-icon {
    margin-right: 10px;
}

::ng-deep  .mat-expansion-panel-body {
    padding: 0 !important
}

::ng-deep  .mat-expansion-panel-header {
    height: 48px !important;
}

::ng-deep  .mat-expansion-panel .mat-list-item {
    padding-left: 15px !important;
}

::ng-deep  .mat-nav-list .is-active {
    background-color: #ebdcac6b!important;
    border-left     : 8px solid #673ab7;
}

::ng-deep  .mat-list-base {
    padding-top: 0 !important;
}

::ng-deep  .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
    padding-left: 8px;
}

.sidenav-menu-expansion-panel{
    background:none;
}

::ng-deep .sidenav-menu-expansion-panel-header > .mat-expansion-indicator:after {
    border-color: #000 !important;
}
::ng-deep .sidenav-menu-expansion-panel-header .mat-expansion-panel-header-description {
    flex-grow: 0;
    margin-right: 0;
}